# basic

indentation - without curly braces. Remember format

condition :

    --------------
    --------

## DATA TYPE

In [2]:
a = 1
a = float(a) # type casting
type(a)

float

### string - immutabel

In [3]:
b = 'string'  #immutable data type - can not change
b = "string"
print(b)
print(b[2])
print(b[-2])

string
r
n

In [4]:
lst = [1, 2, b,'f']  #list - mutabel
tpl = (1,2,2,3,'r')  #tuple - immutable
print(tpl)
print(lst)
print(tpl[3])

(1, 2, 2, 3, 'r')
[1, 2, 'string', 'f']
3

In [5]:
# slicing
print(tpl[1:2])
print(tpl[1:])

(2,)
(2, 2, 3, 'r')

In [6]:
s = 'string'
s = '''string''' # writting multi line string or paragrph
s = "string"

In [7]:
my = "Dhananjay"

In [ ]:
my[-1]  #use to innvert

'y'

## take input

In [9]:
input("data") #it always take data in string

'86'

In [10]:
d = int(input("new"))
d

86

## Method - use on particular data type (function works for all)

In [ ]:
append()	Adds an element at the end of the list
clear()	    Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current 
index()	    Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	    Sorts the list

### tuple - can put any type of datatype (immutable)

In [11]:
tup = ('my', 12 ,22)
tup[1] =  13

TypeError: 'tuple' object does not support item assignment

In [14]:
tup = (10)
type(tup)

int

In [15]:
tup = 10,
type(tup)

tuple

### list - can put any type of datatype (mutable)

In [28]:
list = ['my', 12 ,22]
list

['my', 12, 22]

In [29]:
list.remove('my')
list

[12, 22]

In [30]:
list.pop()
list

[12]

In [31]:
del list #delete entire list
list

list

In [35]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [37]:
len(thislist)

3

In [36]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [38]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [39]:
my = "dhananjay"

In [40]:
my.lower()

'dhananjay'

In [41]:
my.capitalize()

'Dhananjay'

In [42]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()  # also work for intiger
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [43]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [45]:
thislist.reverse()
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

In [ ]:
lst = ["my","bat","boll","dog"]
for string in lst
    result=string.upper()
    print(result)

### dictionary

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [56]:
print(thisdict["brand"])

Ford

In [57]:
# Duplicates Not Allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [58]:
print(len(thisdict))

3

In [59]:
type(thisdict)

dict

In [60]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [63]:
x = thisdict.keys()
x

dict_keys(['name', 'age', 'country'])

In [64]:
x = thisdict.values()
x

dict_values(['John', 36, 'Norway'])

In [65]:
x = thisdict.items()
x

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [66]:
thisdict["name"] = "kalyo"
thisdict

{'name': 'kalyo', 'age': 36, 'country': 'Norway'}

In [67]:
thisdict.update({"name": "chacho"})
thisdict

{'name': 'chacho', 'age': 36, 'country': 'Norway'}

In [68]:
# pop() method removes the item with the specified key name:
thisdict.pop("age")
thisdict

{'name': 'chacho', 'country': 'Norway'}

In [69]:
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
List - is a collection which is ordered and changeable. Allows duplicate members.
Tuple - is a collection which is ordered and unchangeable. Allows duplicate members.
Set - is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary - is a collection which is ordered** and changeable. No duplicate members.

## loop

### if

In [71]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [72]:
# elseif = elif nested if in else
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [73]:
# AND
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [74]:
# OR
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [75]:
# NOT
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [70]:
2**5  # 2 ki power 5

32

### while

In [76]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [77]:
i = 1
while True:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [81]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### for

In [82]:
for x in "banana": # here banana is range
  print(x)

b
a
n
a
n
a

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [83]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [84]:
for x in range(2, 30, 3):  # Increment the sequence with 3 (default is 1):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [85]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [86]:
for x in [0, 1, 2]:
  pass

## comprehension

In [88]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)  # append()	Adds an element at the end of the list

print(newlist)

['apple', 'banana', 'mango']

In [89]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']